div.row {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

div.row.title {
	color: white;
	background-color: gray;
	font-size: 18px;
}

div.button {
	cursor: pointer;
}

div.button:hover {
	background-color: lightgray;
}
